@use '../../styles/variables' as v;

.Sort_Choice {
  border: solid 1px v.$color-searchbar;
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
  @media screen and (max-width: 712px) {
    display: flex;
    justify-content: space-around;
  }
}
.Category_Choice {
  font-size: bolder;
}

.Sort,
.Category_Choice {
  color: rgb(222, 190, 75);
  margin-bottom: 10;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and (max-width: 712px) {
    flex-direction: column;
  }
  .sort-by-duration,
  .sort-by-price {
    @media screen and (max-width: 712px) {
      display: flex;
      flex-direction: column;
    }
  }

  input {
    margin: 20px;
  }
}

.containerCardCat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  font-weight: 500;
}

.cardCat {
  width: 260px;
  height: 410px;
  border-radius: 5%;
  margin: 30px;
  padding: 5px;
  background-color: rgb(253, 245, 234);
  display: inline;
  position: relative;
  img {
    width: 16rem;
    height: 12rem;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border-radius: 8%;
    overflow: hidden;
  }
  p,
  .nameItem {
    text-align: center;
    font-size: 0.7rem;
    margin: 10px;
    font-weight: 800;
    color: rgb(122, 119, 119);
  }
  .nameItem {
    font-size: 1.2rem;
  }
}
.liveAuction-button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 25px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(109, 163, 187);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border: none;
}

.button_container {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  @media screen and (max-width: 712px) {
    gap: 10px;
  }
}

.buttonPage {
  background-color: rgb(109, 163, 187);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  width: 250px;
}
