@use '../../styles/variables' as v;

section {
  margin-bottom: 2.5rem;
}

table {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;

  thead {
    font-size: 1.2rem;
    background-color: v.$color-searchbar;
  }

  td,
  th {
    padding: 10px 10px;
    border: solid 1px black;
  }
}

.section-title {
  margin-bottom: 1.5rem;
}

.user-title {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;

  .icons-user {
    font-size: 1.5rem;
    color: v.$color-primary;
    margin-left: 0.5rem;
  }

  .icon-update,
  .icon-delete {
    padding: 5px;
    cursor: pointer;
  }

  .icon-update:hover {
    color: v.$color-secondary;
  }

  .icon-delete:hover {
    color: red;
  }
}

// USER
.user {
  display: flex;
  justify-content: center;

  .user-label,
  .user-infos {
    span {
      margin-bottom: 1rem;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    width: 15%;

    input {
      width: 200px;
      margin-bottom: 0.5rem;
    }

    button {
      color: v.$color-text;
      background-color: v.$color-primary;
      border: none;
      padding: 10px;
      border-radius: 5px;
      width: fit-content;
    }
  }
}

.icons-column {
  width: 80px;
  padding: 0;

  .icon-update,
  .icon-delete {
    font-size: 1.2rem;
    padding: 5px;
  }
}

.empty-table {
  font-size: 1.2rem;
  text-align: center;
  color: v.$color-secondary;
}

.modal-delete {
  &.is-active {
    z-index: 2;
    position: fixed;
    top: 30%;
    left: 0;
    transform: translate(calc(50vw - 50%), -30%);
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    max-width: 28rem;
    height: 300px;
    padding: 3.375rem;
    border-radius: 5px;
  }

  .user-delete-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .user-delete-action {
    margin-bottom: 2rem;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      border: none;
      width: 50%;
      padding: 1rem;
      justify-content: center;
      border-radius: 5px;
      color: v.$color-text;
      cursor: pointer;
    }

    .modal-confirm-btn {
      background-color: red;
    }

    .modal-cancel-btn {
      color: black;
    }
  }
}
