$color-text: #fff;
$color-primary: #0c7eb4;
$color-secondary: #E99A28;
$color-searchbar: #ebebeb;

$tablet-font-size: 0.8rem;
$mobile-font-size: 0.5rem;

$layout-breakpoint-tablet-navbar: 595px;
$layout-breakpoint-tablet: 577px;
$layout-breakpoint-desktop: 960px;