$color-text: #fff;
$color-on-text: black;
$color-primary: #0c7eb4;
$color-secondary: #e99a28;
$color-searchbar: #ebebeb;
$color-lake: #6da4aa;
$color-on-lake: #F1F6F7;

// loader ball color
$color-loader-ball: #e99a28;

$color-error: #b23542;
$color-success: #84b59f;

// Mobile font-size
$mobile-font-size-paragraphe-body-L: 1rem; // 16px
$mobile-font-size-header-s: 1.5rem; //24px

// Tablet font-size
$tablet-font-size-paragraphe-body-L: 1rem; // 16px
$tablet-font-size-header-s: 1.5rem; //24px

// Desktop font-size
$desktop-font-size-paragraphe-body-L: 1rem; // 16px
$desktop-font-size-header-s: 1.5rem; // 24px

$tablet-font-size-text: 0.8rem;
$mobile-font-size-text: 0.5rem;

$tablet-font-size-major: 1rem;
$mobile-font-size-major: 0.8rem;

$tablet-font-size-title: 1.5rem;
$mobile-font-size-title: 1rem;

$layout-breakpoint-tablet: 577px;
$layout-breakpoint-desktop: 960px;
$layout-breakpoint-tablet-navbar: 595px;
