.Tri {
    flex-direction: row;
    color: rgb(222, 190, 75);
    margin: 0px 0 10px 0;
    font-weight: bolder;
    border-bottom: solid 1px black
};

.cardCat{
    width: 370px;
    border-radius: 5%;
    margin: 30px;
    background-color: rgb(253,245,234)
};

.containerCardCat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    font-weight: 500;
    flex-grow: 0;
};

.liveAuction-button{
    margin: 10px;
    background-color: rgb(109, 163, 187);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 55%;
};

input{
    margin: 20px;
};

.buttonPage{
        background-color: rgb(109, 163, 187);
        margin: 10px 100px;
}
