@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

$layout-breakpoint-tablet: 577px;
$layout-breakpoint-desktop: 960px;

.header {
  padding: 25px 0;
  border-bottom: 1px solid #D9D9D9;

  &-navbar {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-size: 1.5rem;
    margin: auto 0;

    @media (min-width: $layout-breakpoint-tablet) {
      font-size: 2.5rem;
      margin: auto 0;
    }
  }

  &-container-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &-form {
    display: none;
  }

  &-searchbar {
    display: none;
    @media (min-width: $layout-breakpoint-tablet) {
      @include m.remove-border;
      background-color: v.$color-searchbar;
    }
  }

  &-category, &-sell {
    background-color: v.$color-text;
    @include m.buttons-style;
  }

  &-login {
    @include m.buttons-style;
    background-color: v.$color-primary;
    color: v.$color-text;
    border-radius: 5px;
  }
}

.wrapper-cart, .wrapper-category {
  cursor: pointer;

  button {
    display: none;
  }

  @media (min-width: $layout-breakpoint-tablet) {
    @include m.flex-center;
  }
}

.searchbar-container {
  @include m.flex-center;
  height: 40px;
  background-color: v.$color-searchbar;
  padding: 0 15px;
  gap: 10px;
  border-radius: 30px;
}

.icon-user {
  padding-right: 10px;
}