.header {
  padding: 25px;
  border-bottom: 1px solid gray;

  &-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto 0;
  }

  &-searchbar {
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 10px;
  }

  &-category, &-sell {
    background-color: white;
  }

  &-login {
    background-color: rgb(12, 126, 180);
    color: white;
    border-radius: 5px;
  }
}

.icon-user {
  padding-right: 5px;
}

button {
  height: 40px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
}