.title-carousel {
    margin-top: 50px;
    text-align: left;
}

.carousel-container {
    margin-top: 22px;
    background-color: white;
}

.react-multi-carousel-item {
    padding-right: 20px;
    margin: 5px auto; 
    display: flex;
    height: 315px;
}