@use '../../styles/variables' as v;

.sell-article {
  margin-top: 2rem;
  font-size: v.$mobile-font-size-header-s;
  text-align: center;
}

.add-article-form {
  text-align: left;
  //width: 50%;
  margin: 2rem auto;

  @media screen and (min-width: v.$layout-breakpoint-tablet) {
    width: 50%;
    font-size: v.$tablet-font-size-paragraphe-body-L; 
  }

  @media screen and (min-width: v.$layout-breakpoint-desktop) {
    width: 60%;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    @media screen and (max-width: 830px) {
      flex-direction: column;
      width: 100%;
    }
    input,
    textarea,
    select {
      width: 300px;
      outline: none;
      padding: 5px;
      @media screen and (max-width: 830px) {
        width: 100%;
        margin-top: 0.5rem;
      }

      .default-option {
        text-align: center;
      }
    }
  }

  .form-submit-btn {
    margin-top: 2rem;
    justify-content: end;

    .add-article-btn {
      padding: 7px 15px;
      background-color: v.$color-primary;
      border: none;
      border-radius: 5px;
      color: v.$color-text;
      cursor: pointer;
    }
  }
}

.success-msg {
  text-align: center;
  font-size: 1.5rem;
  color: v.$color-secondary;
}

.error-msg {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}
