@use '../../styles/variables' as v;

.header {
  display: flex;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid #d9d9d9;

  &-logo {
    font-size: 1.5rem;
  }

  &-navbar {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
    }

    @media (max-width: 830px) {
      justify-content: space-between;
    }
  }

  &-link-sell,
  &-link-category {
    svg {
      padding-right: 10px;
    }

    &:hover {
      text-decoration: underline;

      svg {
        opacity: 0.8;
      }
    }
  }

  .loging-container {
    position: relative;
    display: none;
    height: 100%;

    @media (min-width: v.$layout-breakpoint-tablet-navbar) {
      display: block;
    }
  }

  .icon-dollar,
  .icon-category,
  .icon-user {
    height: 1.2rem;
  }

  .icon-dollar {
    color: v.$color-secondary;
  }

  .icon-category {
    color: v.$color-primary;
  }

  &-btn-login {
    display: none;
    border: none;
    background: none;
    cursor: pointer;

    a {
      display: none;
    }

    @media (min-width: 435px) {
      a {
        display: inline;
      }

      svg {
        margin-top: 4px;
        padding-right: 10px;
      }
    }

    @media (min-width: 620px) {
      display: inline;
      padding: 10px;
      background-color: v.$color-primary;
      color: v.$color-text;
      border-radius: 5px;
      border: 3px solid #fff;

      &:hover {
        border: 3px solid #88b4ba;
      }
    }
  }

  &-btn-online {
    display: none;

    @media (min-width: v.$layout-breakpoint-tablet-navbar) {
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      outline: none;
      background-color: #fff;
      border: 3px solid #fff;
      border-radius: 5px;

      &:hover {
        background-color: #fcf6f0;
      }
    }

    span {
      font-size: 0.9rem;
    }
  }

  .logo-user-profil {
    width: 40px;
    height: 40px;
    display: inline-block;

    .avatar {
      border-radius: 50%;
      border: 2px solid v.$color-primary;
    }
  }

  // Hamburger Menu.
  .hamburger-menu {
    display: inline-block;
    position: relative;

    @media (min-width: 620px) {
      display: none;
    }
  }

  .toggler-hamburger,
  .hamburger-lines {
    position: absolute;
    display: block;
  }

  .toggler-hamburger {
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .toggler-hamburger:hover {
    cursor: pointer;
  }

  .line {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: gray;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-line.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-line.is-active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-line.is-active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

// Searchbar
.container-searchbar {
  flex: 2;

  display: flex;
  flex-direction: column;

  border: 2px solid v.$color-searchbar;
  background-color: v.$color-searchbar;
  border-radius: 30px;
  padding: 8px;

  &:focus-within {
    border: 2px solid v.$color-primary;
  }

  button {
    outline: none;
    border: none;
    background: none;
  }

  input {
    outline: none;
    border: none;
    background-color: inherit;
  }

  &.outside-navbar {
    margin-top: 15px;

    @media (min-width: 901px) {
      display: none;
    }
  }
}

// Search suggestions
.resultSearch {
  position: relative;
  z-index: 2;

  .arraySearch {
    margin-top: 12px;
    position: absolute;
    padding: 0;
    width: 100%;
    box-shadow: 1px 1px 3px #bdc5c8, -1px 1px 3px #bdc5c8;
    background-color: white;
    border-radius: 5px;
    list-style: none;
  }

  .list-inside {
    margin: 0;

    a {
      display: block;
      padding: 10px 30px;

      &:hover {
        background-color: #efefef;
        cursor: pointer;
      }
    }
  }
}