@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.entire-shadow-screen {
  visibility: hidden;

  &.is-active {
    visibility: visible;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
  }
}

.modal-login {
  display: none;

  .close-login {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  &.is-active {
    z-index: 2;
    position: fixed;
    top: 10%;
    left: 0;
    transform: translate(calc(50vw - 50%), -10%);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    max-width: 26rem;
    padding: 3.375rem;
    border-radius: 5px;
  }

  input {
    outline: none;
    width: 100%;
    border: 3px solid v.$color-primary;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Open Sans';
    margin-bottom: 10px;

    &:focus {
      border-color: #6da4aa;
    }
  }

  button {
    @include m.buttons-style;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      -webkit-animation: action 1s 1 alternate;
      animation: action 1s 1 alternate;
    }
  }

  .checkbox-is-adult {
    width: 20px;
    height: 20px;
    margin: 1.2rem 15px;
  }

  .login {
    margin: 1.5rem auto;
    background-color: v.$color-lake;
  }

  .create-account {
    margin-top: 1.2rem;
    background-color: v.$color-primary;
  }

  .btn-registrer {
    margin: 1.2rem auto;
    background-color: #e1aa70;
  }

  @-webkit-keyframes action {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes action {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
