@use "../../styles/variables" as v;

h2 {
  font-size: 2rem;

  @media screen and (max-width: v.$layout-breakpoint-desktop) {
    font-size: v.$tablet-font-size-title;
  }
  @media screen and (max-width: v.$layout-breakpoint-tablet) {
    font-size: v.$mobile-font-size-title;
  }
}

.single-product {
  display: flex;
  align-items: center;

  @media screen and (max-width: v.$layout-breakpoint-desktop) {
    flex-wrap: wrap;
    font-size: v.$tablet-font-size-text;
  }
  @media screen and (max-width: v.$layout-breakpoint-tablet) {
    font-size: v.$mobile-font-size-text;
  }

  &-media {
    position: relative;
    margin-right: 1rem;
    width: 50%;
    @media screen and (max-width: v.$layout-breakpoint-desktop) {
      width: 100%;
      margin: 0
    }
    
    .photo {
      width: 100%;
    }

    .fave-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      color: yellow;
    }
  }

  &-details {
    width: 50%;
    margin-left: 1rem;
    text-align: left;
    @media screen and (max-width: v.$layout-breakpoint-desktop) {
      width: 100%;
      margin: 0;
    }

    .auction-infos {
      display: grid;
      text-align: center;

      .auction-original-price {
        margin-bottom: 0.5rem;
      }
    }
  }

  &-title, &-description {
    margin-bottom: 1rem;
    @media screen and (max-width: v.$layout-breakpoint-desktop) {
      margin-top: 1rem;
    }
  }

  .auction-remaining-time {
    border: 3px dotted v.$color-secondary;
    padding: 0.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    @media screen and (max-width: v.$layout-breakpoint-desktop) {
      font-size: v.$tablet-font-size-major;
    }
    @media screen and (max-width: v.$layout-breakpoint-tablet) {
      font-size: v.$mobile-font-size-major;
    }
  }

  .auction-amount {
    margin-top: 1rem;
    text-align: center;


    .auction-current-price {
      margin-right: 1rem;
    }

    .participate-btn {
      background-color: v.$color-primary;
      border: none;
      color: v.$color-text;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1.5rem;
      cursor: pointer;
      @media screen and (max-width: v.$layout-breakpoint-desktop) {
        font-size: v.$tablet-font-size-major;
      }
      @media screen and (max-width: v.$layout-breakpoint-tablet) {
        font-size: v.$mobile-font-size-major;
      }
    }
  }
}

.auction-history {
  margin-top: 5rem;

  &-title {
    margin-bottom: 2rem;
  }

  div{
  display: flex;
  flex-direction: column;
  }
}